{% extends "explorer/base.html" %}

{% load bootstrap %}
{% load extra_tags %}
{% load humanize %}

{% block head %}
    <title>{{category.name}} - {{group.name}}</title>
{% endblock %}

{% block content %}
    <h2  class="text-center">{{collection.name}}</h2>
    <h1  class="text-center">{{category.name}}</h1>
    <hr>
    
<ul class="nav nav-tabs">
    {% for g in groups %}
    <li role="presentation" {% if group == g %}class="active"{% endif %}><a href="{% url 'exp_category_view' service.slug collection.slug category.slug g.slug %}">{{g.name}}</a></li>
    {% endfor %}
</ul>

     {% regroup sets by group as group_sets %}
     {% for g in group_sets %}
     {% if group.slug == "all"%}
     <h2 class="text-center">{{g.grouper.name}}</h2>
     {% endif %}
     {% for set in g.list %} 
        <p style="text-align:right;"><a href="{% url 'exp_comparison_view' service.slug collection.slug category.slug set.superset.slug %}">More detail.</a></p>
        {{set.chart.render_div}}
    {% endfor %}
    {% endfor %}
        <hr>

    <p>Columns in <span style="color:{{local_positive}}">{{local_positive_label}}</span> and <span style="color:{{local_negative}}">{{local_negative_label}}</span> have at least a 95% chance of a real difference from the general dataset and at least a {{large_cutoff}}% different from the expected value.</p>
    
    <p><span style="color:{{local_positive}}">{{local_positive_label}}</span> means a category has more reports than expected. <span style="color:{{local_negative}}">{{local_negative_label}}</span> means it has less.</p>
    <hr>
    <br>
    {% endblock %}

{% block code %}
{{chart_collection.render_code}}  
  
{% endblock %}